# Build
build/

# ESP-IDF
sdkconfig
sdkconfig.old

# Gitignore
.gitignore

# Cloude settings
.cloude/

# VSCode
.vscode/

# ESP-IDF managed components
managed_components/

# Components externos (opcional pero recomendado)
components/

# Logs
*.log